=form_with model: [ @article, @article.comments.build ] do |form|
  %div.form-group
    =form.label 'Pseudo'
    =form.text_field :commenter, class: 'form-control'

  %div.form-group
    =form.label 'Commentaire'
    =form.text_area :body, class: 'form-control'

  %div.form-group
    =form.submit 'Sauvegarder', class: 'btn btn-success'
