= form_with model: article, data: {turbo: false} do |form|
  %div.form-group
    =form.label :article_type, :Type
    =form.select :article_type, Article.article_types.map, {}, class: 'form-control'

  %div.form-group
    =form.label :title, :Titre
    =form.text_field :title, { |
      :class => "form-control #{article.errors.full_messages_for(:title).empty? ? '' : 'is-invalid'}" |
    } |
    - article.errors.full_messages_for(:title).each do |message|
      %div.error-message= message

  %div.form-group
    =form.text_area :body, class: 'tinymce hide'
    =tinymce
    - article.errors.full_messages_for(:body).each do |message|
      %div.error-message= message

  %div.form-group
    =form.submit 'Sauvegarder', class: 'btn btn-primary mt-2'
