%div.row
  %div.col
    %h3 Articles
    %hr
    - @articles.each do |article|
      %div.blog-post
        %h2
          = link_to article.title, article
  %div.col
    %h3 Suggestions
    %hr
    - @suggestions.each do |article|
      %div.blog-post
        %h2
          = link_to article.title, article
  %div.col
    %h3 Liens
    %hr
    - @links.each do |link|
      = link_to link.text, link.link
      -if current_user
        = link_to '✏', edit_link_path(link), class: 'text-decoration-none'
