%h1= @article.title 
!=@article.body
%hr
=link_to "Éditer",    edit_article_path(@article), class: 'mr-2'
=link_to "Supprimer", article_path(@article), data: { |
  turbo_method: :delete, |
  turbo_confirm: "Vous êtes sur ?" |
} |
