%h1= @article.title 

!=@article.body

-if current_admin
  %hr
  =link_to "Éditer",    edit_article_path(@article), class: 'mr-2', data: {turbo: false}
  =link_to "Supprimer", article_path(@article), data: { |
    turbo_method: :delete, |
    turbo_confirm: "Vous êtes sur ?" |
  } |

%hr

%h2 Laisser un commentaire

-if current_user
  =render 'comments/form'
-else
  Connecté vous pour laisser un commentaire

%hr

%h2 Commentaires

-if @article.comments.count == 0
  C'est calme ici pour l'instant

=render @article.comments
