%h1= @article.title 

!=@article.body

-if current_admin
  %hr
  =link_to "Éditer",    edit_article_path(@article), class: 'mr-2', data: {turbo: false}
  =link_to "Supprimer", article_path(@article), data: { |
    turbo_method: :delete, |
    turbo_confirm: "Vous êtes sur ?" |
  } |

%hr

%h2 Laisser un commentaire

=form_with model: [ @article, @article.comments.build ] do |form|
  %div.form-group
    =form.label :commenter
    =form.text_field :commenter

  %div.form-group
    =form.label :body
    =form.text_area :body

  %div.form-group
    =form.submit 'Sauvegarder', class: 'btn btn-success'

%h2 Commentaires

-if @article.comments.count == 0
  C'est calme ici pour l'instant

=render @article.comments
